<div>
    <h2>
        <span jhiTranslate="bilgeApp.dataSchema.home.title">Data Schemas</span>
        <button class="btn btn-primary float-right jh-create-entity create-data-schema-bilge" [routerLink]="['/', { outlets: { popup: ['data-schema-bilge-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bilgeApp.dataSchema.home.createLabel">
            Create new Data Schema
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dataSchemas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bilgeApp.dataSchema.name">Name</span></th>
            <th><span jhiTranslate="bilgeApp.dataSchema.tableCount">Table Count</span></th>
            <th><span jhiTranslate="bilgeApp.dataSchema.dataContext">Data Context</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataSchema of dataSchemas ;trackBy: trackId">
                <td><a [routerLink]="['../data-schema-bilge', dataSchema.id ]">{{dataSchema.id}}</a></td>
                <td>{{dataSchema.name}}</td>
                <td>{{dataSchema.tableCount}}</td>
                <td>
                    <div *ngIf="dataSchema.dataContextId">
                        <a [routerLink]="['../data-context-bilge', dataSchema.dataContextId  ]" >{{dataSchema.dataContextName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../data-schema-bilge', dataSchema.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-schema-bilge/'+ dataSchema.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-schema-bilge/'+ dataSchema.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
