<div>
    <h2>
        <span jhiTranslate="bilgeApp.dataContext.home.title">Data Contexts</span>
        <button class="btn btn-primary float-right jh-create-entity create-data-context-bilge" [routerLink]="['/', { outlets: { popup: ['data-context-bilge-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bilgeApp.dataContext.home.createLabel">
            Create new Data Context
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dataContexts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bilgeApp.dataContext.name">Name</span></th>
            <th><span jhiTranslate="bilgeApp.dataContext.sourceConnection">Source Connection</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dataContext of dataContexts ;trackBy: trackId">
                <td><a [routerLink]="['../data-context-bilge', dataContext.id ]">{{dataContext.id}}</a></td>
                <td>{{dataContext.name}}</td>
                <td>
                    <div *ngIf="dataContext.sourceConnectionId">
                        <a [routerLink]="['../source-db-connection-bilge', dataContext.sourceConnectionId  ]" >{{dataContext.sourceConnectionName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../data-context-bilge', dataContext.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-context-bilge/'+ dataContext.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-context-bilge/'+ dataContext.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
