<div>
    <h2>
        <span jhiTranslate="bilgeApp.sparkDestinationTable.home.title">Spark Destination Tables</span>
        <button class="btn btn-primary float-right jh-create-entity create-spark-destination-table-bilge" [routerLink]="['/', { outlets: { popup: ['spark-destination-table-bilge-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="bilgeApp.sparkDestinationTable.home.createLabel">
            Create new Spark Destination Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sparkDestinationTables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bilgeApp.sparkDestinationTable.name">Name</span></th>
            <th><span jhiTranslate="bilgeApp.sparkDestinationTable.desc">Desc</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sparkDestinationTable of sparkDestinationTables ;trackBy: trackId">
                <td><a [routerLink]="['../spark-destination-table-bilge', sparkDestinationTable.id ]">{{sparkDestinationTable.id}}</a></td>
                <td>{{sparkDestinationTable.name}}</td>
                <td>{{sparkDestinationTable.desc}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../spark-destination-table-bilge', sparkDestinationTable.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'spark-destination-table-bilge/'+ sparkDestinationTable.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'spark-destination-table-bilge/'+ sparkDestinationTable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
